{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}


    <div class="main" style="width: 50%;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/{{ topic }}">{{ topic }}</a>
            </li>
        </ol>
        <h4>Courses</h4>
        <div class="container">
            {% for i in data %}
                <div class="row">
                    <div class="col-8">
                        <a class="list-group-item list-group-item-action" href="/admin/{{ i[1] }}/{{ i[2] }}">{{ i[0] }}</a>
                    </div>
                    {% if not i[3] %}
                        <div class="col">
                            <a class="btn btn-block btn-outline-success approve-item-button" href="/admin/update/approve/topic/{{ i[4] }}/{{ i[1] }}">
                                Approve
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-block btn-outline-danger approve-item-button" href="/admin/update/decline/topic/{{ i[4] }}/{{ i[1] }}">
                                Decline
                            </a>
                        </div>
                    {% else %}
                        <div class="col">
                            <button class="btn btn-block btn-outline-primary approve-item-button">
                                Approved!
                            </button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
{#        <div class="list-group">#}
{#            {% for i in data %}#}
{#                <a class="list-group-item list-group-item-action" href="/admin/{{ i[1] }}/{{ i[2] }}">{{ i[0] }}</a>#}
{#                #}
{#            {% endfor %}#}
{#        </div>#}
        <a class="create-item-button btn btn-outline-danger btn-block" href="/create">
            Create Course
        </a>
    </div>

{% endblock %}