{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <script src="/static/scripts/assignments.js"></script>
    <div class="main">
        <div class="list-group">
            {% for item in data %}
                <div class="card" id="{{ item.id }}">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ item.name }}
                        </h3>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ item.due_by }}
                        </h6>
                        <p class="card-text">
                            {{ item.description }}
                        </p>
                        <a href="{{ item.url }}" class="card-link">
                            {{ item.url }}
                        </a>
                        <br>
                        <button class="btn btn-outline-success btn-block" onclick="done({{ item.id }})">
                            Done!
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-outline-primary btn-block toggle-work-button" onclick="show()">
            Show Completed Work
        </button>
        <a class="create-item-button btn btn-outline-danger btn-block" href="/create">
            Create Item
        </a>
        <script>
            $('.create-item-button')[0].href = '/create/item?class_id=' + window.location.href.split('/')[4]
        </script>
    </div>

{% endblock %}