body {
    font-family: 'Source Code Pro', monospace;
    padding: 20px;
}


.main {
    margin: auto;
    width: 25%;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .main {
        padding: 50px 10px;
        width: 75%;
    }
}